@import "mocha.css";
* {
    font-family: FiraCode Nerd Font SemBd;
    border-radius: 10px
  }

window {
/*  background-color: @crust;*/
  background: transparent;
  margin: 5px;
  border-radius: 15pt;
}

#input {
  background-color: @crust;
  border: none;
/*border: 6px solid @blue;*/
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: @text
}

#input:focus {
  border: 0px solid #fff;

}

#entry:selected {
    background: linear-gradient(45deg, @blue 0%, @mauve 100%);
    color: @base;
}

@keyframes gradient_f {
	0% {
		background-position: 0% 200%;
	}
    50% {
        background-position: 200% 0%;
    }
	100% {
		background-position: 400% 200%;
	}
}

#text {
  color: @text
}

#outer-box {
  /*border: 6px solid @blue;*/
  border-radius: 15pt;
  padding: 5px;
  border: none;
}

#scroll {
  background-color: @crust;
/*border: 6px solid @blue;*/
  padding: 5px;
  border-radius: 10px;
}

#text:selected {
  color: @crust;
}

#entry {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

#img {
  padding-right: 5px;
}
