@import "mocha.css";
window#osd {
  padding: 12px 20px;
  border-radius: 15px;
  border: none;
  background: @crust; }
  window#osd #container {
    margin: 16px; }
  window#osd image,
  window#osd label {
    color: @mauve; }
  window#osd progressbar:disabled,
  window#osd image:disabled {
    opacity: 0.5; }
  window#osd progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none; }
  window#osd trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: alpha(@mauve, 0.5); }
  window#osd progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @mauve; }
